<!DOCTYPE html>
<html>

<head>

</head>

<body style="margin: 0; padding: 0;">
    <h1 style="text-align: center; color: #fff; background-color: #000; padding: 3px 3px; margin-top: 0">Password reset</h1>
    <p style="width: 300px; display: block; margin: auto; margin-top: 30px; font-weight: bold">You or someone else have requested a password reset for your account on https://admin.saddexproductions.com. Please click the link below to finish the
        process. If it wasn't you, ignore this email.</p>
    <a href={{url}} style="color: #fff; text-decoration: none; background-color: #000; text-align: center; border: none; display: block; margin: auto; margin-top: 250px; font-size: 18px; border-radius: 8px; padding: 8px; font-weight: bold; width: 200px">
        Reset
    </a>
</body>

</html>